@model IEnumerable<interlibros.Models.Librerias>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <table class="table" style="color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Libros Publicados
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Nombre, "Details", new { id = item.id }, new { @style = "color: #fdb45e;" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @item.Libros.Count()
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

