@model IEnumerable<interlibros.Models.LibroEnCarro>
@{
    ViewBag.Title = "Carrito";
}

<section id="cart_items">
    <div class="container">

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Libro</td>
                        <td class="description"></td>
                        <td class="price">Precio</td>
                        <td class="quantity">Cantidad</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var libro in Model)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img style="width: 100px;height: auto;" src="@libro.Libros.ImgUrl" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="/Libros/Details/@libro.id">@libro.Libros.Titulo</a></h4>
                            </td>
                            <td class="cart_price">
                                <p>₡@libro.Libros.Precio</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@libro.Libros.Cantidad" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">₡@libro.Libros.Precio</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-default check_out" href="">Confirmar Reservación</a>
    </div>
</section> <!--/#cart_items-->
