@using interlibros.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Iniciar sesión</h2>
                @using (Html.BeginForm("IniciarSesion", "Cuenta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.TextBoxFor(m => m.Username, new { @placeholder = "Nombre de usuario o correo" })
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña" })
                    <span>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Dejar sesión abierta
                    </span>
                    <button type="submit" class="btn btn-default">Iniciar Sesión</button>
                }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">O</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>¡Regístrate en InterLibros!</h2>
                    <form action="/Cuenta/Registarse">
                        <input type="text" name="Name" placeholder="Nombre" />
                        <input type="text" name="Username" placeholder="Nombre de usuario" />
                        <input type="email" name="Email" placeholder="Correo electrónico" />
                        <input type="password" name="Password" placeholder="Contraseña" />
                        <button type="submit" class="btn btn-default">Registrarse</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->


